<mat-card class="example-card" appearance="outlined">
    <mat-card-header>
    
      <mat-card-title>Help Desk </mat-card-title>
      <mat-card-subtitle>Um sistema de chamados</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="assets/img/home-image.svg" alt="image home helpdesk">
    <mat-card-content>
      <p>
    Olá! Seja bem-vindo ao sistema Help Desk, desenvolvido por mim durante o curso de Desenvolvedor Full Stack.<br><br>
    Este sistema foi projetado para gerenciar chamados e simula um Help Desk básico, utilizando as tecnologias Angular 12 para o front-end e Spring Boot 2 para o back-end. O projeto está hospedado na nuvem, com o front-end rodando na Vercel e o back-end no Heroku.<br><br>
    O principal objetivo do projeto é demonstrar conceitos de aplicações SPAs (Single Page Applications), além de abordar práticas de autenticação e autorização utilizando Tokens JWT.
    <br><br>
    Você pode acessar o código fonte do projeto a qualquer momento através do link do GitHub disponível no menu lateral.
    <br><br>
    Fique à vontade para explorar o sistema e compartilhar suas sugestões de melhoria!
    <br><br>
    Atenciosamente: Jackson Luiz Domingos Silva
      </p>
    </mat-card-content>
  </mat-card>
  