<mat-card class="card">
    <mat-card-header>
      <mat-card-title>Help Desk </mat-card-title>
      <mat-card-subtitle>Um sistema de chamados</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="assets/img/home-image.svg" alt="image home helpdesk">
    <mat-card-content>
      <p>
    Olá! Seja bem-vindo ao meu projeto sistema Help Desk, desenvolvido por mim durante o curso de Desenvolvedor Full Stack.<br><br>
    Este sistema foi projetado para gerenciar chamados e simula um Help Desk básico, utilizando as tecnologias Angular 12 para o front-end e Spring Boot 2 para o back-end. O projeto está hospedado na nuvem, com o front-end rodando na <a href="http://">Netlify</a> e o back-end na <a href="http://">AWS</a>.<br><br>
    O principal objetivo do projeto é demonstrar conceitos de aplicações <a href="https://developer.mozilla.org/en-US/docs/Glossary/SPA#:~:text=An%20SPA%20(Single%2Dpage%20application,content%20is%20to%20be%20shown." target="_blank" rel="noopener noreferrer">SPAs (Single Page Applications)</a>, além de abordar práticas de autenticação e autorização utilizando <a href="https://jwt.io/">Tokens JWT</a>.
    <br><br>
    Você pode acessar o código fonte do projeto a qualquer momento através do link do GitHub disponível no menu lateral.
    <br><br>
    Fique à vontade para explorar o sistema e compartilhar suas sugestões de melhoria!
    <br><br>
    Atenciosamente:<a href="https://conectdevjackson.netlify.app/">Jackson Luiz Domingos Silva</a>
      </p>
    </mat-card-content>
  </mat-card>
  